
@import '~assets/scss/breakpoints.scss';

.Social-Links {
    padding: 0;
    list-style-type: none;
    display: block;
    margin: auto;
    position: relative;
    z-index: 100;
    font-size: 1.6em;
    width: 9.8em;

    @include md {
        width: 11.5rem;
        font-size: 1.2em;
    }
}

.Social-Links__item {
    display: inline;
    padding: .5em;
}

.Social-Links__link {
    color: var(--black);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--black);
    }
    &::after {
        background: transparent;
    }
}
