
.Social-Links {
    padding: 0;
    list-style-type: none;
    display: block;
    margin: auto;
    position: relative;
    z-index: 100;
    width: 11rem;
}

.Social-Links__item {
    display: inline;
    padding: .5em;
}

.Social-Links__link {
    color: var(--black);
    text-decoration: none;
    font-size: 1.2em;

    &:hover,
    &:focus {
        color: var(--black);
    }
    &::after {
        background: transparent;
    }
}
