
@import 'reset';
@import 'breakpoints';
@import 'variables';

html,body { overflow-x: hidden; }

body {
	background: var(--white);
	color: var(--black);
	font-family: var(--font-family);
	font-size: var(--font-size);
  margin: 0;
}

#map-wrapper {
	position: relative;
	height: 200px;

	@include md {
		height: 400px;
		padding: .25em;
	}

	@include lg {
		height: 500px;
	}
}

#map {
	height: 100%;
	z-index: 3;
	opacity: .8;
}

h1,
h2,
h3,
h4 {
	font-family: var(--serif-font-family);
	letter-spacing: 1px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.hr {
	background: var(--black);
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 15em;

	@include md {
		margin-bottom: 3em;
		width: 30em;
	}
}


// -----------------------------------------------------
// Section
// -----------------------------------------------------
.Section {
    padding: 1em;
    max-width: 1200px;
    margin: auto;
}

.Section--layout {
    margin-top: 70px;
    padding-top: 0 !important;
}

.Grid {
    display: grid;
    grid-auto-rows: minmax(23rem, 23rem);
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-columns: 1fr;

    @include md {
        grid-auto-rows: minmax(22rem, 22rem);
        grid-template-columns: 1fr 1fr;
    }
}

.hr {
    height: 2px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    @include lg {
        width: 600px;
    }
}
