
:root {
  --Grid-gutter-size: 10px;
  --Grid-max-width: 1200px;

  --serif-font-family: 'Acta', sans-serif;
  --font-family: 'Raleway', sans-serif;
  --font-size: 1rem;

  --black: #1f1f1f;
  --true-black: #000;
  --white: #fdfdfd;
  --true-white: #fff;
  --highlight: #ff512f;
  --dark: #3d3d3d;
  --orange: #ff512f;
  --light-gray: rgb(240, 237, 238);
}
