
@import '~assets/scss/breakpoints.scss';

.Media-Text-Grid {
  display: grid;

  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(20rem, 25rem);


  @include md {
		grid-auto-rows: minmax(30rem, 35rem);
	}

  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(30rem, 35rem);
  }
}

.Media-Text {}

.Media-Text__Media {
	position: relative;
  height: auto;
}

.Media-Text__Text {
	height: auto;
	position: relative;

	@include md {
		margin: 0;
		padding: 1em;
	}
}

.Media-Text__Content {
	@include lg {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
