
@import '~assets/scss/breakpoints.scss';

.Player {
  position: relative;
  height: auto;
  .Player__content {
    //@include lg {
        position: relative;
        top: 50%;
        margin-top: -25%;
    //}
  }
}

.Player__progress-bar {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  background: #ccc;

  @include lg {
    bottom: 20%;
    width: 80%;
    left: 10%;
  }
}

.Player-Progress-Bar__progress {
  height: 100%;
  width: 0px;
  position: relative;
  transition: width .5s ease-in-out, background 4s ease-in-out, box-shadow 4s ease-in-out;
}

.play-button {
  height: 100px;
  width: 100px;
  display: block;
  margin: 5% auto;
  overflow: hidden;
  position: relative;
}
.left {
  height: 100%;
  float: left;
  background-color: #000;
  width: 36%;
  transition: all 0.25s ease;
  overflow: hidden;
}
.triangle-1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.triangle-2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 100px solid #fdfdfd;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #000;
  transition: all 0.25s ease;
}
.paused .left {
  width: 50%;
}
.paused .right {
  width: 50%;
}
.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
